@import 'reset';
@import 'variables';

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

html{
	background-color: $white;
}

body {
	font-family: 'Roboto', sans-serif;
	font-family: 'Playfair Display', serif;
	color: $black;
}

h1 {
	font-size: 100px;
	font-style: italic;
}

.clearfix {
    &:after {
    	content: '';
    	display: table;
    	clear: both;
    }
}

#nellyoann {
	section {
		position: relative;

		display: flex;
		width: 100%;
		height: 100vh;

		box-sizing: border-box;

		padding: 70px 0;

		align-items: center;

		overflow: hidden;
	}

	.banner {

		.banner-back {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;

			width: 100%;
			height: 100%;

			background-image: url('../img/back-cactus.png');
			background-position: center;

			opacity: .15;

			transition: filter ease .5s;
		}

		.banner-content {
			position: relative;
			z-index: 5;

			width: 100%;

			text-align: center;

			.banner-tild {
				font-size: 50px;

				margin: 20px auto;
			}

			.banner-text {
				font-size: 50px
			}
		}
	}

	.vertical-back {
		position: absolute;
		top: 0;
		right: 0;

		width: 40%;
		height: 100%;

		background-image: url('../img/vertical-farm.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	#song {
		justify-content: center;

		.group-text {
			max-width: 750px;

			margin: 20px auto;

			text-align: center;

			.text {
				font-size: 28px;
				font-style: italic;
			}
		}

		.second-batch {
			.group-text {
				margin: 30px auto;

				.text {
					margin: 20px auto;
				}
			}
		}
	}
}

@import 'mobile';