@media screen and (max-width: 780px) {
	#nellyoann {
		h1 {
			font-size: 45px;
		}

		.banner {
			.banner-content {
				.banner-text {
					font-size: 35px;
				}
			}
		}

		#song {
			.group-text {
				max-width: 90%;

				margin: 25px auto !important;

				.text {
					font-size: 20px;

					margin: 15px auto !important;
				}
			}
		}
	}
}